<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045964229167-kv33uao951a371o5tu4i6mqvr9ousa8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045964229167-kv33uao951a371o5tu4i6mqvr9ousa8c</string>
	<key>API_KEY</key>
	<string>AIzaSyCAv7HTvWUKI46T8O8p8fzXfHxm3z2lyq8</string>
	<key>GCM_SENDER_ID</key>
	<string>1045964229167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mooha</string>
	<key>PROJECT_ID</key>
	<string>mooha-aa395</string>
	<key>STORAGE_BUCKET</key>
	<string>mooha-aa395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045964229167:ios:53fbe1743751d8e87b94da</string>
</dict>
</plist>